:root {
  --nlpt-orange: #F14D00;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

h1 {
  color: #F14D00;
  font-size: 3em;
}